:root {
  // All brand colors
  --color-brand-1010: #ffffff;
  --color-brand-2020: #ffffff;
  --color-brand-3030: #ffffff;

  // All text colors
  --color-text-1010: #ffffff;
  --color-text-2020: #ffffff;
  --color-text-3030: #ffffff;

  // All hover colors
  --color-hover-1010: #ffffff;
  --color-hover-2020: #ffffff;
  --color-hover-3030: #ffffff;

  // All alert colors
  --color-error: #b30021;
  --color-success: #00b300;

  // All border colors
  --color-border-1010: #ffffff;
  --color-border-2020: #ffffff;

  // All other colors
  --color-other-1010: #ffffff;
  --color-other-2020: #ffffff;
}
