.button {
  width: 100%;
  font-size: 1.1rem;
  padding-block: 8px;
  border: 1px solid var(--color-border-1010);
  border-radius: 5px;
  color: var(--color-text-3030);
  background-color: var(--color-brand-3030);

  &:hover {
    background-color: var(--color-hover-2020);
  }
}
