@use '../sass/abstracts/breakpoints' as *;
@use '../sass/abstracts/mixins' as *;

.login__container {
  @include loginRegisterForm;

  // Responsive styles
  @include breakpoint(lg) {
    padding-right: 1.8rem;
  }

  .user__input {
    width: 100%;
    margin-bottom: 1.5rem;

    & label {
      @include formLabel;

      .eye__toggle {
        @include eyeToggle;
      }
    }
  }

  .user__security {
    width: 100%;

    .remember__me {
      width: 50%;
      .checkbox[type='checkbox'] {
        @include checkBox;
      }

      & span {
        @include span;
      }
    }

    .forgot__password {
      width: 50%;

      & a {
        font-size: 0.9rem;
        font-weight: var(--font-weight-400);
        color: var(--color-text-2020);

        &:hover {
          color: var(--color-hover-3030);
        }
      }
    }
  }

  .user__submit {
    width: 100%;
    margin-top: 1.5rem;

    .submit__button {
      @include submitButton;
    }
  }
}

.required__field {
  background-color: var(--color-error-2020);
  border-color: var(--color-error-1010) !important;
}

.animation {
  transform: translateX(0);
}
