@use '../sass/abstracts/breakpoints' as *;
@use '../sass/abstracts/mixins' as *;

.register__container {
  @include loginRegisterForm;

  // Responsive styles
  @include breakpoint(lg) {
    padding-right: 1.8rem;
  }

  .user__input {
    width: 100%;
    margin-bottom: 1.5rem;

    // Responsive styles
    @include breakpoint(xs) {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    & label {
      @include formLabel;

      .eye__toggle {
        @include eyeToggle;
      }
    }

    .first__input {
      width: 100%;
      margin-bottom: 1.5rem;

      // Responsive styles
      @include breakpoint(xs) {
        width: 50%;
        margin-bottom: 0;
      }
    }

    .last__input {
      width: 100%;

      // Responsive styles
      @include breakpoint(xs) {
        width: 50%;
      }
    }
  }

  .terms__condition {
    width: 100%;
    .checkbox[type='checkbox'] {
      @include checkBox;
    }

    & span {
      @include span;
    }
  }

  .user__submit {
    width: 100%;
    margin-top: 1.5rem;

    .submit__button {
      @include submitButton;
    }
  }
}

.required__field {
  background-color: var(--color-error-2020);
  border-color: var(--color-error-1010) !important;
}

.animation {
  transform: translateX(0);
}
