// All Display Flex Property Here

.flex {
  display: flex;
}

.flex-row-center {
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  justify-content: flex-start;
  align-items: center;
}

.flex-row-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-col-center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-start {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-col-end {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.justify-space-between {
  justify-content: space-between;
  align-items: center;
}
