:root{
// All canvas colors
--color-canvas-primary: #ffffff;
--color-canvas-secondary: #ffffff;
--color-canvas-tertiary: #ffffff;

// All brand colors
--color-brand-primary: #ffffff;
--color-brand-secondary: #ffffff;
--color-brand-tertiary: #ffffff;

// All layout colors
--color-layout-primary: #ffffff;
--color-layout-secondary: #ffffff;
--color-layout-tertiary: #ffffff;

// All text colors
--color-text-primary: #ffffff;
--color-text-secondary: #ffffff;
--color-text-tertiary: #ffffff;
}
